<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://elublin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>elublin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>elublin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$elublin</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:zv2yck9av9.database.windows.net,1433;Initial Catalog=elublinDb;User ID=elublin@zv2yck9av9;Password=Lublin2015!" Name="Data Source=tcp:zv2yck9av9.database.windows.net,1433;Initial Catalog=elublinDb;User Id=elublin@zv2yck9av9;Password=Lublin2015!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eLublin.Web.Models.ApplicationDbContext, eLublin.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="elublinDbEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:zv2yck9av9.database.windows.net,1433;Initial Catalog=elublinDb;User ID=elublin@zv2yck9av9;Password=Lublin2015!" Name="Data Source=tcp:zv2yck9av9.database.windows.net,1433;Initial Catalog=elublinDb;User Id=elublin@zv2yck9av9;Password=Lublin2015!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eLublin.Web.Models.Db.elublinDbEntities, eLublin.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StorageConnectionString" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=portalvhdszpdy07gsw7353;AccountKey=eSr/MMC97vQJDZa/dADAEuJGoJAITuTeiOkjaIh+ud3vYWjZhA9L5GET3oaII0BvhgEnXXz7sE8P+WmjG1+xqg==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StorageConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=portalvhdszpdy07gsw7353;AccountKey=eSr/MMC97vQJDZa/dADAEuJGoJAITuTeiOkjaIh+ud3vYWjZhA9L5GET3oaII0BvhgEnXXz7sE8P+WmjG1+xqg==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:zv2yck9av9.database.windows.net,1433;Initial Catalog=elublinDb;User Id=elublin@zv2yck9av9;Password=Lublin2015!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)elublinDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Db.eLublinDbModels.csdl|res://*/Models.Db.eLublinDbModels.ssdl|res://*/Models.Db.eLublinDbModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:zv2yck9av9.database.windows.net,1433;Initial Catalog=elublinDb;User Id=elublin@zv2yck9av9;Password=Lublin2015!"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>